@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poiret+One&display=swap');


body {
  position: relative;
  background-color: hsl(36, 65%, 91%); 
}

body::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width:200%;
  height: 100%;
  background-image: url(./images/scales.png);
  object-fit: cover;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.3;
}

.Test {
  position: relative; 
}

/*Article Container*/
.articleGallery{
  z-index: 1;
  .grid-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    width: 60vw;
    height: 450px;
}
}

/*Each section of article*/
.articleData {
  display: inline-block;
  padding: 2em;
  margin: 1em;
  border-radius: 1em;
  margin: 3em;
  background-color: rgb(92, 121, 115);
  max-width: 40%;
  min-height: 100%;
  color: ##F5E8C7;

}


/*Each image of article*/
.articleImage{
  max-width: 40%;
  border-radius: 2em;
  transition: transform .2s;
  border: #F5E8C7 solid 0.2em;
  

}

.articleImage:hover{
  transform: scale(1.5);

}

/*Article Header*/
.articleHeader{
  background-color:  rgb(100, 135, 128);
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  padding: 2%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
}

/*Read More Button*/
a{
  color: #F8FAE5;
}

a:hover{
  color: #F8FAE5;
}
.bottomContent{
  padding: 1.5em;
  background-color: #6F4C5B;
}
.bottomContent:hover {
  background-color: #936277; 
}




/*Nav Bar*/
.headerTab{
  background-color: #0e3a39;
  padding: 10px 10px 10px 40px;
  color: #F8FAE5;
  top: 0; 
  width: 100%; 
}

.header{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  font-style: normal;
  
}

.textContent{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  font-style: normal;
}

.Test{
  
}



/*Footer*/
footer{
  background-color: rgb(150, 167, 163);
  height: 100%;
  width: 100%;
  padding: 1em;
}

footer{
  font-size: 1em;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}