@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poiret+One&display=swap');


body {
  position: relative;
  background-color: hsl(36, 65%, 91%);
  z-index: -1;
  }

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/scales2.webp);
  object-fit: cover;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.3;
}

.bkgImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/scales2.webp);
  object-fit: cover;
  background-position: center;
  background-repeat: repeat;
  z-index: -1;
  opacity: 55%;
}

/*Article Container*/
.articleGallery {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*Each section of article*/
.articleData {
  display: inline-block;
  padding: 2em;
  margin: 1em;
  border-radius: 1em;
  margin: 3em;
  background-color: rgb(92, 121, 115);
  max-width: 30%;
  min-height: 100%;
  color: #F5E8C7;

}


/*Each image of article*/
.articleImage {
  max-width: 40%;
  border-radius: 2em;
  transition: transform .2s;
  border: #F5E8C7 solid 0.2em;
}

.articleImage:hover {
  transform: scale(3.5);

}

/*Article Header*/
.articleHeader {
  background-color: rgb(100, 135, 128);
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  padding: 2%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
}

/*Read More Button*/
a {
  color: #F8FAE5;
}

a:hover {
  color: #F8FAE5;
}

.bottomContent {
  padding: 1.5em;
  background-color: #6F4C5B;
}

.bottomContent:hover {
  background-color: #936277;
}

.buttonContent{
  display: flex;
  justify-content: center;
}


/*Nav Bar*/
.headerTab {
  background-color: #0e3a39;
  color: #F8FAE5;
  top: 0;
  z-index: 1;
}

.headerTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10em;
  z-index: 1;

}

.header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0e3a39;
  outline: none;
}

.menuButton:focus {
  box-shadow: 0 0 0 3px rgba(100, 135, 128, 0.5);
}

.headerButton {
  outline: none;
  background-color: #0e3a39;
  padding: 0.1em;
  border: none;
  cursor: pointer;

}

.textContent {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  font-style: normal;
}

.menuTab {
  background-color: #0e3a39;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #F8FAE5;
  display: flex;
  justify-content: center; 
  align-items: center;
  justify-content: space-around;
  /* padding: 10px 10px 10px 40px; */
  width: 100%;
}



/*Footer*/
footer {
  background-color: rgb(150, 167, 163);
  padding: auto;
  margin: auto;
}

footer {
  font-size: 1em;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  min-height: 100%;
  
}

.menuButton {
  background-color: rgb(100, 135, 128);
  padding: 0.5em;
  font-size: 30px;
  border-radius: 80%;
  border: none;
  cursor: pointer;
}

/*About Page*/
.Test {
  position: relative;
  min-height: 100vh; 
  
}

.menuPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  width: 100%;
}

.menuPage h1 {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  
}


